/*Important stuff, don't change it!*/
* {
    margin:0px;
    padding:0px;
}
#main-restaurant-name {
    font-family: 'Laila', serif;
    font-size: 10vw;
}

h1 {
    font-family: 'Playfair Display', serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

/*End of the important stuff*/

#landing-page-full-page-image-container{
    background-image: url("../assets/photos/backg.jpg");
    height: 100vh;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
}

#main-restaurant-name-wrapper {
    bottom:40%;
    margin:25px;
    border: 2px solid grey;
    padding:10px 20px 10px;
}


.btn {
    border: 1px solid #fff;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    font-size: 8vw;
}

#learn-more-link-wrapper {
    margin:25px;
}

#home-page-container {
    background-image: url("../assets/photos/home-page-mobile.jpg");
    height:100vh;
    background-size: cover;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction:column;
}


nav {
    display: flex;
    width:100%;
    background-color:#c88762;
    height:10%;
    align-items:center;
    flex-direction:row;
    justify-content:space-between;
}

nav li {
    display: inline-block;
    font-size: 5vw;
    border: 1px solid #fff;
    padding: 0 10px 0;
    margin: 10px 10px 0;
    font-family: "Playfair Display";
    text-decoration: none;
    align-self:flex-end;

}

nav a {
    color:black;
    text-decoration: none;
}

nav li:hover{
    border: 1px solid black;
    color: white;
}

nav a:hover{
    color:white;
}

#brand-name{
    align-self:flex-start;
}

nav ul {
    width: 100%;
}